<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }} - Yalechimp</title>
        <meta property="og:title" content="{{ title }} - Yalechimp">
        {% else %}
        <title>Yalechimp</title>
        <meta property="og:title" content="Yalechimp">
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Easily send bulk emails to Yale students.">
        <meta name="author" content="Erik Boesen">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:description" content="Easily send bulk emails to Yale students.">
        <meta property="og:image" content="">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="icon" href="/static/images/logo/favicon.png" type="image/png">
        <link rel="icon" href="/static/images/logo/favicon.ico" type="image/x-icon">
        {% block head %}
        {% endblock %}
    </head>
    <body class="{{ alert_level }}">
        <header>
            <nav>
                <h2 id="logo-text"><a href="{{ url_for('index') }}">Yalechimp</a></h2>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            &copy; <a href="https://erikboesen.com">Erik Boesen</a>.
        </footer>
        <script src="/static/js/main.js"></script>
    </body>
</html>
