{% extends 'base.html' %}

{% block content %}
<button id="submit">Generate email list</button>
<textarea style="display: none;" id="output" cols=60 rows=8 readonly placeholder="No matching students. :("></textarea>
<section id="college">
    <h4>College</h4>
    <label>
        <input type="checkbox" name="college-all"> All
    </label>
    {% for college in colleges %}
    <label>
        <input type="checkbox" name="{{ college }}"> {{ college }}
    </label>
    {% endfor %}
</section>
<section id="year">
    <h4>Year</h4>
    <label>
        <input type="checkbox" name="year-all"> All
    </label>
    {% for year in years %}
    <label>
        <input type="checkbox" name="{{ year }}"> {{ year }}
    </label>
    {% endfor %}
</section>
<section id="major">
    <h4>Major</h4>
    <label>
        <input type="checkbox" name="major-all"> All
    </label>
    {% for major in majors %}
    <label>
        <input type="checkbox" name="{{ major }}"> {{ major or "(Empty)" }}
    </label>
    {% endfor %}
</section>
<section id="building_code">
    <h4>Building</h4>
    <label>
        <input type="checkbox" name="building_code-all"> All
    </label>
    {% for building_code, building in building_codes.items() %}
    <label>
        <input type="checkbox" name="{{ building_code }}"> {{ building }}
    </label>
    {% endfor %}
</section>
<script src="/static/js/index.js"></script>
{% endblock %}
