{% extends "base.html" %}

{% block content %}
<button id="submit">Generate email list</button>
<div>
    <textarea style="display: none;" id="output" cols=60 rows=8 readonly placeholder="No matching students. :("></textarea>
    <p id="warning"></p>
    <h3>Filters:</h3>
    <button id="clear_filters">
        <i class="fa fa-filter"></i>
        Clear Filters
    </button>
    {% for category in filters %}
        <h4>{{ category }}</h4>
        {% for filter in filters[category] %}
            {% with name = filter, items = options[filter], header=filters[category][filter], default = "N/A" %}
                {% include "_filter.html" %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
</div>
<a href="/logout">Log out</a>
<script src="/static/js/index.js"></script>
{% endblock %}
