{% extends 'base.html' %}

{% block content %}
<h3>Categories to target</h3>
<section>
    <h4>Colleges</h4>
    <label>
        <input type="checkbox" name="college-all"> All
    </label>
    {% for college in colleges %}
    <label>
        <input type="checkbox" name="college-{{ college }}"> {{ college }}
    </label>
    {% endfor %}
</section>
<section>
    <h4>Years</h4>
    <label>
        <input type="checkbox" name="year-all"> All
    </label>
    {% for year in years %}
    <label>
        <input type="checkbox" name="{{ year }}"> {{ year }}
    </label>
    {% endfor %}
</section>
<button id="submit">Get emails</button>
<textarea id="output" cols=60 rows=15 placeholder="Emails will appear here."></textarea>
{% endblock %}
